---

soft_dir:           "{{ home_dir }}/software"
tmp_install_dir:    "{{ home_dir }}/tmp"
projects_dir:       "{{ home_dir }}/projects"
neuro_projects_dir: "{{ home_dir }}/projects/neuro"
bin_dir:            "{{ home_dir }}/bin"

user_local_dir:  "/opt"
local_bin_dir:   "{{ user_local_dir }}/bin"
