---

- name: common | Create directory {{ python_env_dir }}
  file:
    path: '{{ item }}'
    state: directory
    owner: '{{ user }}'
    group: '{{ group }}'
  loop:
    - '{{ python_env_dir }}'
  become: yes
  become_method: sudo

- name: Copy Pipfile
  copy:
    src: Pipfile
    dest: "{{ python_env_dir }}/Pipfile"

- name: Create .envrc file
  blockinfile:
    path: "{{ python_env_dir }}/.envrc"
    mode: 0644
    owner: '{{ user }}'
    group: '{{ group }}'
    create: yes
    block: |
      export PIPENV_VENV_IN_PROJECT=./.venv/

- name: Enable the .envrc file
  command: >
    direnv allow .
  args:
    chdir: "{{ python_env_dir }}"

- name: Install requirements
  command: >
    pipenv install
  args:
    chdir: "{{ python_env_dir }}"
  environment:
    LC_ALL: C.UTF-8
    LANG: C.UTF-8

- name: Checking where the environment has been created
  command: >
    pipenv --venv
  args:
    chdir: "{{ python_env_dir }}"
  environment:
    LC_ALL=C.UTF-8
    LANG=C.UTF-8
  register: pipenv_env

- debug:
    var: pipenv_env
