[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.14.2"
scipy = ">=1.0.1"
nipy = ">=0.4.2"
nibabel = ">=2.2.1"
dipy = ">=0.13.0"
nitime = ">=0.7"
nilearn = ">=0.4.1"

[dev-packages]
