---

- name: common | Set locale
  locale_gen:
    name: '{{ locale }}'
    state: present
  # command: locale-gen en_GB.UTF-8 && update-locale en_GB.UTF-8

- name: common | Create directories
  file:
    path: '{{ item }}'
    state: directory
    owner: '{{ user }}'
    group: '{{ group }}'
  with_items:
    - '{{ soft_dir }}'
    - '{{ user_local_dir }}'
    - '{{ tmp_install_dir }}'
    - '{{ projects_dir }}'
  become: yes
  become_method: sudo

- name: common | Add $SOFT as soft_dir in {{ bashrc_file }}
  lineinfile:
    path: '{{ bashrc_file }}'
    regexp: '^export SOFT='
    line: 'export SOFT="{{ soft_dir }}"'
    follow: yes
  tags: rc

- name: APT | Update cache, be patient
  apt:
    update_cache: yes
    upgrade: yes
    cache_valid_time: 3600
    allow_unauthenticated: yes

- name: Package | Install lists packages
  apt:
    pkg: "{{ item }}"
    state: installed
  with_items:
    - build-essential
    - mesa-common-dev
    - libglu1-mesa-dev
    - curl
    - wget
    - ccze
    - unzip
    - tar
    - gzip
    - bzip2
