---

# - name: libraries | Make local downloads dir in {{ local_downloads_dir }}
#   local_action: path dest="{{ local_downloads_dir }}" state=directory

- name: libraries | apt_repository
  command: >
      add-apt-repository {{ item }}
  with_items:
    - restricted
    - universe
  become: yes
  become_method: sudo

- name: libraries | Update cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes
  become_method: sudo

- name: libraries | Install packages
  apt:
    pkg: "{{ item }}"
    state: installed
    allow_unauthenticated: yes
  with_items:
    - apt-utils
    - gcc-6
    - g++-6
    - locales
    - libjpeg62
    - libxml2-dev
    - libxslt1-dev
    - xdot
    - python3-dev
  become: yes
  become_method: sudo

- name: 'libraries | Add {{ local_bin_dir }} to PATH in {{ bashrc_file }}'
  lineinfile:
    dest: "{{ bashrc_file }}"
    regexp: '^addpath {{ local_bin_dir }}$'
    line: 'addpath {{ local_bin_dir }}'
    follow: yes
  tags: rc

- name: libraries | Add {{ user_local_dir }} to CMAKE_PREFIX_PATH
  lineinfile: >
    name=/etc/environment
    state=present
    regexp="^CMAKE_PREFIX_PATH=.*"
    line='CMAKE_PREFIX_PATH="{{ user_local_dir }}"'
  become: yes
  become_method: sudo
  tags: [ld_config, rc]

- include_tasks: libs/neurodebian.yml
  tags: neurodebian

- include_tasks: libs/fsl.yml
  tags: fsl

- include_tasks: libs/afni.yml
  tags: afni

- include_tasks: libs/camino.yml
  tags: camino

- include_tasks: libs/spm_mcr.yml
  tags: spm_mcr

- include_tasks: libs/cmake.yml
  tags: cmake

- include_tasks: libs/dcm2niix.yml
  tags: dcm2niix

- block:
  - include_tasks: libs/vtk.yml
    tags: vtk

  - include_tasks: libs/ants.yml
    tags: ants

  - include_tasks: libs/petpvc.yml
    tags: petpvc

  - include_tasks: libs/simpleitk.yml
    tags: simpleitk

  - name: '{{ lib_name }} | Remove {{ ants_build_dir }} directory'
    file:
      path: "{{ ants_build_dir }}"
      state: absent
    become: yes
    become_method: sudo
    when: cleanup_sources
    tags: cleanup

  tags: itk

# - include_tasks: libs/boost.yml
#   tags: boost
#
# - include_tasks: libs/eigen3.yml
#   tags: eigen3
#
# - include_tasks: libs/json.yml
#   tags: json
#
# - include_tasks: libs/qt5_download.yml
#   tags: qt5

# - include_tasks: libs/googletest.yml
#   tags: googletest
